[submodule "software/ChibiOs"]
	path = software/ChibiOs
	url = git@github.com:feg-giessen/ChibiOS-RT.git
[submodule "software/lwip"]
	path = software/lwip
	url = git://git.savannah.nongnu.org/lwip.git
[submodule "software/glcd"]
	path = software/glcd
	url = git@github.com:feg-giessen/glcd.git
	branch = VideoCtrl
