[submodule "software/ChibiOs"]
	path = software/ChibiOs
	url = git@github.com:ChibiOS-Upstream/ChibiOS-RT.git
[submodule "software/lwip"]
	path = software/lwip
	url = git://git.savannah.nongnu.org/lwip.git
